/*Робимо невидимі заголовки*/
.visually-hidden{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}

.amenities-section{
    background-color: #121212;
    padding-top: 40px;
    padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .amenities-section{
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .amenities-section{
    padding-top: 94px;
    padding-bottom: 100px;
  }
}

.amenities-list-titles{
    font-size: 28px;
    line-height: calc(32/28);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #F7F7F7;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .amenities-list-titles{
    font-size: 40px;
    line-height: calc(44/40);
    margin-bottom: 40px;
  }
}

.room-list-style{
    list-style: disc;
    padding-left: 27px;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #F7F7F7;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .room-list-style{
    font-size: 18px;
    line-height: calc(24/18);

  }
}

@media screen and (min-width: 1440px) {
  .room-list-style{
    margin-bottom: 100px;
  }
}

.last-list.room-list-style{
    margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
    .last-list.room-list-style{
        margin-bottom: 122px;
    }
}

@media screen and (min-width: 1440px) {
    .last-list.room-list-style{
        margin-bottom: 0;
    }
}

.img-amenities-wrapper{
    position: relative;
}

@media screen and (min-width: 1440px) {
    .img-amenities-wrapper{
        margin-top: -120px;
    }
}

.bathroom-4{
    margin-left: auto;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .bathroom-4{
        margin-bottom: 0;
    }
}

.bathroom-5{
    position: absolute;
    top: 144px;
    box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
    .bathroom-5{
        top: 157px;
    }
}

@media screen and (min-width: 1440px) {
    .bathroom-5{
        top: 208px;
        right: 409px;
    }
}

.amenities-btn{
    display: block;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #F7F7F7;
    background-color: #121212;
    border: 0.8px solid #F7F7F7;
    border-radius: 32px;
    padding: 8px 40px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .amenities-btn{
        position: absolute;
        bottom: 114px;
        padding: 8px 24px;
        line-height: calc(24/14);
    }
}

@media screen and (min-width: 1440px) {
    .amenities-btn{
        bottom: 135px;
        right: 678px;
        padding: 9px 24px;
        font-size: 18px;
        line-height: calc(24/18);
    }
}


@media screen and (min-width: 1440px) {
    .room-lists-wrapper{
        display: flex;
        gap: 70px;
    }
}

@media screen and (min-width: 1440px) {
    .room-list-container{
        width: 633px;
        gap: 70px;
    }
}