/* modal book a room */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: 20;
  transition: 0.3s all;
}

.modal {
  z-index: 30;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 335px;
  min-width: 320px;
  min-height: 636px;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 40px;

  background-color: #121212;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform var(--anim-fast), opacity var(--anim-fast);
}

.backdrop.is-hidden .modal-room {
  opacity: 1;
}

.modal-room-title {
  display: block;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  margin-bottom: 40px;

  color: #f7f7f7;
}

.text-accent {
  font-style: italic;
}

.close-modal-book {
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 8.17px;
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: #121212;
  stroke: #FFFFFF;
}

.form-field-book {
  position: relative;
  display: block;
  margin-bottom: 32px;
  font-size: 8px;

  line-height: 1.5;
  letter-spacing: 0.18em;
  color: #d8d7d7;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.form-label-book {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;

  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-bottom: 32px;

  color: #d8d7d7;
}

.form-input-book {
  display: block;
  font-size: 14px;
  width: 100%;
  height: 36px;
  margin-bottom: 8px;
  padding-bottom: 18px;
  background-color: transparent;
  border: none;
  border-bottom: 0.8px solid rgba(247, 247, 247, 0.2);
  color: #f7f7f7;
}

.form-input-book::placeholder {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #f7f7f7;
  opacity: 1;
}

.form-field-tel {
  margin-bottom: 0;
}

* room-custom-select * 
.room-custom-select {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #f6f6f6;

  height: 56px;
  background-color: transparent;
  border: none;
}

.select-room {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #f7f7f7;
  background-color: #121212;
  border: none;

  border-bottom: 0.8px solid rgba(246, 246, 246, 0.2);
  width: 98%;
  margin-bottom: 8px;
  padding-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .room-custom-select {
    margin-bottom: 0;
  }
}

.select-icon-room {
  position: absolute;
  right: 8px;
  top: 7.5px;
  background-color: #121212;
  fill: #121212;
  stroke: #f7f7f7;
  z-index: 1;}

.select-items div,
.select-selected {
  border: none;
  padding: 5px 16px;
  cursor: pointer;
  user-select: none;
}
.select-selected {
  opacity: 0;
  background-color: transparent;
  padding: 0 0 18px;
  border: none;
  outline: none;
  border-bottom: 0.8px solid rgba(246, 246, 246, 0.2);
}
.select-items {
  position: absolute;
  background-color: #121212;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 150px;
  overflow-y: auto;
}
.select-hide {
  display: none;
}
.select-items div {
  border: 1px solid #f6f6f6;
  background-color: #ccc;
  color: #121212;
}
.select-items div:hover,
.same-as-selected {
  background-color: #f6f6f6;
}

.select-items {
  position: absolute;
  background-color: #121212;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  max-height: 150px;
  overflow-y: auto;
}
.select-hide {
  display: none;
}
.select-items div {
  border: 1px solid #f6f6f6;
  background-color: #ccc;
  color: #121212;
}
.select-items div:hover,
.same-as-selected {
  background-color: #f6f6f6;
}

input#room-custom-date,
label {
  display: block;
  outline: none;
}
.room-custom-date,
.custom-date-out {
  position: relative;
  margin-bottom: 32px;
}

.label-date {
  position: relative;
  height: 100%;
  margin: 8px 0 0 0;
}
input#room-custom-date {
  width: 100%;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #f7f7f7;
  background-color: transparent;
  border: none;
  border-bottom: 0.8px solid rgba(246, 246, 246, 0.2);
  outline: transparent;
  padding: 0 0 18px 0;
  cursor: pointer;
}
input#room-custom-date::placeholder {
  position: absolute;
  top: 0;
  left: 0;

  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #f7f7f7;
  opacity: 1;
}
input#room-custom-date:focus::placeholder {
  opacity: 0;
}
.datepicker-panel {
  left: 50px;
  color: #121212;
}

input.calendar {
  background-image: url('https://bytebucket.org/fuoricitta/form-best-practice/raw/197f5e38bea1d53b52102b6c98e0e6b129dd6908/Examples/assets/img/calendar.png?token=b57efe00e0e5d28327a3b62e263519c284c70d53');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.mod-room-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;

  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: #121212;
  padding: 14px 48px;
  margin-right: auto;
  margin-left: auto;
  border: 0.8px solid #f7f7f7;
  border-radius: 32px;
}
.mod-room-btn:hover,
.mod-room-btn:focus {
  color: #121212;
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .close {
    width: 32px;
    height: 32px;
    top: 24px;
    right: 24px;
  }

  .modal {
    padding-top: 32px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
    min-width: 628px;
    min-height: 572px;
  }

  .form-modal-book {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .form-field-book {
    width: 266px;
  }
  .mod-room-btn {
    height: 52px;
    padding-left: 133px;
    padding-right: 133px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .mod-room-btn {
    font-size: 18px;
    padding-left: 133px;
    padding-right: 134px;
  }
}