<section calss="section about-section">

    <h2 class="hidden">About a complex</h2>
    <!-- restaurant-hotel complex -->
    <section class="about-sub-section about-complex">
        <div class="container about-complex">

            <!-- <img srcset="../../img/home-about/complex-01@2x.webp 2x" src="../../img/home-about/complex-01@1x.webp"
                    alt="Сozy room with fireplace" width="335" height="442" class="about-img img-1"> -->
            <picture class="about-img about-complex-1">
                <source
                    srcset="../../img/home-about/desk-complex-01@1x.webp 1x, ../../img/home-about/desk-complex-01@2x.webp 2x"
                    media="(min-width: 1440px)" />
                <source
                    srcset="../../img/home-about/tab-complex-01@1x.webp 1x, ../../img/home-about/tab-complex-01@2x.webp 2x"
                    media="(min-width: 768px)" />
                <source
                    srcset="../../img/home-about/mob-complex-01@1x.webp 1x, ../../img/home-about/mob-complex-01@2x.webp 2x"
                    media="(max-width: 767px)" />
                <img src="../../img/home-about/mob-complex-01@1x.webp" alt="Сozy room with fireplace">
            </picture>

            <div class="complex-img-review about-complex-2">
                <picture class="about-img ">
                    <source
                        srcset="../../img/home-about/desk-complex-02@1x.webp 1x, ../../img/home-about/desk-complex-02@2x.webp 2x"
                        media="(min-width: 1440px)" />
                    <source
                        srcset="../../img/home-about/tab-complex-02@1x.webp 1x, ../../img/home-about/tab-complex-02@2x.webp 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="../../img/home-about/mob-complex-02@1x.webp 1x, ../../img/home-about/mob-complex-02@2x.webp 2x"
                        media="(max-width: 767px)" />
                    <img src="../../img/home-about/mob-complex-02@1x.webp" alt="Beautiful bathroom">
                </picture>

                <!-- <img srcset="../../img/home-about/complex-02@2x.webp 2x"
                        src="../../img/home-about/complex-02@1x.webp" 
                        alt="Beautiful bathroom" width="282"
                        height="153" 
                        class="about-img"> -->

                <div class="about-review">
                    <img srcset="../../img/home-about/complex-review-01@2x.webp 2x"
                        src="../../img/home-about/complex-review-01@1x.webp" alt="Photo of Maria" width="41" height="41"
                        class="about-review-img">
                    <div>
                        <p class="about-review-person">Maria</p>
                        <p class="rating-txt">give rating <span class="rating-txt-accent">4.5</span></p>
                    </div>
                </div>
            </div>

            <div class="about-complex-descr">
                <h3 class="about-h3">restaurant-hotel complex</h3>
                <p class="about-txt">Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest
                    seafood to the most succulent
                    steaks, every dish is crafted with care to ensure that you enjoy a truly memorable dining
                    experience.</p>
                <p class="about-txt">Treat yourself to a taste of the good life and come dine with us today!</p>

            </div>

        </div>
    </section>

    <!-- business class hotel -->
    <section class="about-sub-section">
        <div class="container about-business">

            <div class="business-block1">
                <picture class="about-img">
                    <source
                        srcset="../../img/home-about/desk-business-01@1x.webp 1x, ../../img/home-about/desk-business-01@2x.webp 2x"
                        media="(min-width: 1440px)" />
                    <source
                        srcset="../../img/home-about/tab-business-01@1x.webp 1x, ../../img/home-about/tab-business-01@2x.webp 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="../../img/home-about/mob-business-01@1x.webp 1x, ../../img/home-about/mob-business-01@2x.webp 2x"
                        media="(max-width: 767px)" />
                    <img src="../../img/home-about/mob-business-01@1x.webp" alt="Table in the restaurant">
                </picture>
             <!-- REVIEW -->
                <div class="about-review">
                    <img srcset="../../img/home-about/business-review-01@2x.webp 2x"
                        src="../../img/home-about/business-review-01@1x.webp" alt="Photo of Alexander" width="41"
                        height="41" class="about-review-img">
                    <div>
                        <p class="about-review-person">Alexander</p>
                        <p class="rating-txt">give rating <span class="rating-txt-accent">5.5</span></p>
                    </div>
                </div>
            </div>

            <div class="business-block2">
                <div class="business-block2-descr">
                    <h3 class="about-h3">business class hotel</h3>
                    <p class="about-txt">The Mimino hotel features spacious and&nbsp;stylish double luxury rooms
                        with&nbsp;modern
                        amenities for a comfortable&nbsp;stay.
                    </p>
                </div>
                <picture class="about-img">
                    <source
                        srcset="../../img/home-about/desk-business-02@1x.webp 1x, ../../img/home-about/desk-business-02@2x.webp 2x"
                        media="(min-width: 1440px)" />
                    <source
                        srcset="../../img/home-about/tab-business-02@1x.webp 1x, ../../img/home-about/tab-business-02@2x.webp 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="../../img/home-about/mob-business-02@1x.webp 1x, ../../img/home-about/mob-business-02@2x.webp 2x"
                        media="(max-width: 767px)" />
                    <img src="../../img/home-about/mob-business-02@1x.webp" alt="Table in the restaurant">
                </picture>

            </div>

        </div>

    </section>

</section>