  <!-- header -->
  <header class="header-page">
    <!-- top line nav -->
    <div class="container header-page-container">
      <nav class="nav-page">
        <ul class="nav-list">
          <li><a class="nav-home link carrent" href="./index.html">HOME</a></li>
          <li><a class="nav-hotel link" href="./hotel.html">HOTEL</a></li>
          <li><a class="nav-restaurant link" href="./restaurant.html">RESTAURANT</a></li>
        </ul>       
     </nav>
      <!-- button burger menu -->
      <button class="menu-burger js-open-menu" aria-controls="mobile-menu" aria-expanded="false">
        <svg width="32" height="22">
          <use href="./img/icons.svg#icon-menu"></use>
        </svg>
      </button>
     <!-- header logo -->
     <div class="header-logo">
      <a class="logo-header link" href="./index.html">MIMINO</a>
      <p class="logo-item">restaurant-hotel complex</p>
    </div>
     <!--header social -->
      <ul class="header-socials">
       <li><a class="header-social-link" href="https://www.instagram.com/" aria-label="Instagram" target="_blank" rel="noopener noreferrer"><svg width="24" height="24">
             <use href="./img/icons.svg#icon-instagram"></use></svg></a></li>
       <li><a class="header-social-link" href="https://www.facebook.com/" aria-label="facebook" target="_blank" rel="noopener noreferrer"><svg width="24" height="24">
             <use href="./img/icons.svg#icon-facebook"></use></svg></a></li>
       <li><a class="header-social-link" href="https://twitter.com/" aria-label="twitter" target="_blank" rel="noopener noreferrer"><svg width="24" height="24">
             <use href="./img/icons.svg#icon-twitter"></use></svg></a></li>
     </ul>
     </div>
  </header>