

<section class="hero">
  <div class="container">
    <div class="hero-main-wrap">
      <h1 class="hero-title">Mimino</h1>
      <div class="hero-content">
        <div class="hero-btn-wrap">
            <button class="hero-button" type="button">book a room</button>
            <button class="hero-button" type="button">book  a table</button>
        </div>
        <div class="hero-text-wrap">
          <p class="hero-text">
            Whether you're in the mood for a hearty breakfast, a light lunch, or
            a romantic dinner, our menu has something for everyone.
          </p>
          <p class="hero-text">
            At Hotel Mimino, we believe that great food should be available to
            everyone, no matter the time of day.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
