<section class="hotel-details">
    <div class="container">
        <div class="flex-hotel">
            <h2 class="title-hotel">Hotel</h2>
            <p class="hotel-text">Book your stay with us now and
                experience the epitome of comfort and
                luxury at our hotel. We guarantee you'll be
                thrilled with your decision.</p>
        </div>
        <div class="img-details">
            <div class="hotel-img-second">
                <img class="wash-basins-img" src="../../img/hotel-details/image4.webp" alt="wash-basins" width="176px"
                    height="258px">
                <img class="cream-img" src="../../img/hotel-details/image5.webp" alt="cream" width="176px" height="143px">
            </div>
            <img class="bad-img" src="../../img/hotel-details/image.webp" alt="bad" width="335px" height="417px">
            <div class="hotel-img">
                <img class="makeup-img" src="../../img/hotel-details/image2.webp" alt="makeup" width="157px" height="128px">
                <img class="bathroom-img" src="../../img/hotel-details/image3.webp" alt="bathroom" width="157px" height="128px">
            </div>
        </div>
        <div class="button-modal">
            <button class="hotel-btn" type="button">Book a room</button>
            <button class="hotel-btn" type="button">View room</button>
        </div>
    </div>
</section>
