<section class="hotel-details">
    <div class="container">
        <div class="flex-hotel">
            <h2 class="title-hotel">Hotel</h2>
            <p class="hotel-text">Book your stay with us now and
                experience the epitome of comfort and
                luxury at our hotel. We guarantee you'll be
                thrilled with your decision.</p>
        </div>
        <div class="img-details">
            <div class="hotel-img-second">
                <img class="wash-basins-img" src="./img/hotel-details/image4.webp" alt="wash-basins" width="176">
                <img class="cream-img" src="./img/hotel-details/image5.webp" alt="cream" width="176" height="143">
            </div>
            <img class="bad-img" src="./img/hotel-details/image.webp" alt="bad" width="335">
            <div class="hotel-img">
                <img class="makeup-img" src="./img/hotel-details/image2.webp" alt="makeup" width="157">
                <img class="bathroom-img" src="./img/hotel-details/image3.webp" alt="bathroom" width="157">
            </div>
        </div>
        <div class="button-modal">
            <button class="hotel-btn js-open-modal" type="button" data-modal="3">Book a room</button>
            <a class="hotel-btn" href="./restaurant.html">View room</a>
        </div>
    </div>
</section>
