<section class="section">
  <div class="container">
    <div class="flex-location">
      <div class="position">
        <h2 class="title-location">Location</h2>

        <img
          class="location-map"
          srcset=""
          srcset="
            ./img/location-contacts/map-mobile.webp       335w,
            ./img/location-contacts/map-desc.webp         640w,
            ./img/location-contacts/map-tablet.webp       704w,
            ./img/location-contacts/map-desc-1280.webp   1208w,
            ./img/location-contacts/map-tablet-1408.webp 1408w
          "
          sizes="(min-width: 1440px) 640px, (min-width: 768px) 704px, (min-width: 375px) 335px, 100vw"
          src="./img/location-contacts/map-mobile.webp"
          alt="our location"
        />
      </div>
      <div class="main-adress">
        <p class="adress">Ukraine, Poltava, St. Marshal Biryuzov, 15</p>
        <ul class="main-location">
          <li class="call">call us:</li>
          <div class="number">
            <li>(095) 555 95 33</li>
            <li>(066) 849 10 89</li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>
