<section class="section">
<div class="container">
  <div class="flex-location">  
    <div class="position">
    <h2 class="title-location">Location</h2>
  
      <img
        class="location-map"
        src="../../img/location-contacts/map2.webp"
        alt="map location"
        width="335px"
        height="384px"
      >
    </div>
      <div class="main-adress">
        <p class="adress">Ukraine, Poltava, St. Marshal Biryuzov, 15</p>
        <ul class="main-location">
          <li class="call">call us:</li>
          <div class="number">
          <li>(095) 555 95 33</li>
          <li>(066) 849 10 89</li>
        </div>
        </ul>
    </div>
  </div>
</div>
</section>
