<section class="section">
  <div class="container">
    <div class="flex-location">
      <div class="position">
        <h2 class="title-location">Location</h2>

        <img
          srcset="
            ./img/location-contacts/map-mobile.webp,
            ./img/location-contacts/map-desc.webp,
            ./img/location-contacts/map-tablet.webp,
            ./img/location-contacts/map-desc-1280.webp,
            ./img/location-contacts/map-tablet-1408.webp
          "
          sizes="(min-width: 1440px) 640px, (min-width: 768px) 704px, (min-width: 375px) 335px, 100vw"
          class="location-map"
          src="./img/location-contacts/map-mobile.webp"
          alt="our location"
        />
      </div>
      <div class="main-adress">
        <p class="adress">Ukraine, Poltava, St. Marshal Biryuzov, 15</p>
        <div class="main-location"></div>
        <ul class="call">
          call us:
          <li class="number">(095) 555 95 33</li>
          <li class="number">(066) 849 10 89</li>
        </ul>
      </div>
    </div>
  </div>
</section>
