<section class="rest-section">
  <div class="rest-container container">
    <div class="rest-details-info">
      <h2 class="details-title">Restaurant</h2>
      <p class="details-info-text">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>
    <div class="slider-details">
      <div class="slider-details-img">
        <img
          class="details-img"
          src="../../img/restaurant_details/mob-2@1x.webp"
          alt
        />
        <img
          class="details-img"
          src="../../img/restaurant_details/mob-1@1x.webp"
          alt
        />
      </div>
      <div class="slider-details-btn">
        <button class="slider-btn" type="button">
          <svg class="slider-svg" width="24" height="24">
            <use href="../../img/icons.svg#icon-left"></use>
          </svg>
        </button>
        <button class="slider-btn" type="button">
          <svg class="slider-svg" width="24" height="24">
            <use href="../../img/icons.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="details-activities-container">
      <button class="btn-details" type="button">Book a table</button>
      <a class="btn-details" href="../restaurant-page/">View the Menu</a>
    </div>
  </div>
</section>
