<section class="rest-section">
  <h2 class="section-title hidden-title" hidden>Restaurant</h2>
  <div class="rest-container">
    <ul class="rest-descr">
      <li class="rest-info">
        <div class="content">
          <h2 class="item">Restaurant</h2>

          <p class="text-descr">
            Relax and unwind with our delicious offerings, available any time of
            day.
          </p>
        </div>

        <div class="pictures">
          <img
            src="../../img/restaurant_details/mob-2@1x.webp"
            alt="cocktail"
            width="157px"
          />
          <img
            src="../../img/restaurant_details/mob-1@1x.webp"
            alt="kitchen"
            width="157px"
          />
        </div>
        <div>
          <svg class="icon" width="24" height="16">
            <use href=""></use>
          </svg>
          <svg class="icon" width="24" height="16">
            <use href=""></use>
          </svg>
        </div>
        <div class="btn btn-activities">
          <button class="btn-book" type="button">Book a Table</button>
          <button class="btn-view" type="button">
            View the Menu
            <a href="#"></a>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
