<section class="rest-section">
  <div class="rest-container container">
    <div class="restaurant-details-info">
      <h2 class="details-title">Restaurant</h2>
      <p class="details-info-text">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>
    <div class="slider-details">
      <div class="slider-details-img">
        <picture>
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="
              ../../img/restaurant-details/image1_desk@1x.webp 1x,
              ../../img/restaurant-details/image1_desk@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              ../../img/restaurant-details/image1_tab@1x.webp 1x,
              ../../img/restaurant-details/image1_tab@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ../../img/restaurant-details/image1_mob@1x.webp 1x,
              ../../img/restaurant-details/image1_mob@2x.webp 2x
            "
          />
          <img
            class="details-img"
            src="../../img/restaurant-details/image1_mob@1x.webp"
            alt
            loading="lazy"
            width="266px"
            height="309px"
          />
        </picture>
        <picture class="picture-none">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="
              ../../img/restaurant-details/image2_desk@1x.webp 1x,
              ../../img/restaurant-details/image2_desk@2x.webp 2x
            "
          />
          <img
            class="details-img"
            src=" ../../img/restaurant-details/image2_desk@1x.webp"
            alt
            loading="lazy"
            width="266px"
            height="309px"
          />
        </picture>
        <picture class="picture-none">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="
              ../../img/restaurant-details/image3_desk@1x.webp 1x,
              ../../img/restaurant-details/image3_desk@2x.webp 2x
            "
          />
          <img
            class="details-img picture-none"
            src=" ../../img/restaurant-details/image3_desk@1x.webp 1x"
            alt
            loading="lazy"
            width="266px"
            height="309px"
          />
        </picture>
        <picture>
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="
              ../../img/restaurant-details/image4_desk@1x.webp 1x,
              ../../img/restaurant-details/image4_desk@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              ../../img/restaurant-details/image4_tab@1x.webp 1x,
              ../../img/restaurant-details/image4_tab@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ../../img/restaurant-details/image4_mob@1x.webp 1x,
              ../../img/restaurant-details/image4_mob@2x.webp 2x
            "
          />
          <img
            class="details-img"
            src=" ../../img/restaurant-details/image4_mob@1x.webp"
            alt
            loading="lazy"
            width="266px"
            height="309px"
          />
        </picture>
        <picture class="picture-none">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="
              ../../img/restaurant-details/image5_desk@1x.webp 1x,
              ../../img/restaurant-details/image5_desk@2x.webp 2x
            "
          />
          <img
            class="details-img"
            src="../../img/restaurant-details/image5_desk@1x.webp"
            alt
            loading="lazy"
            width="266px"
            height="309px"
          />
        </picture>
      </div>
      <div class="slider-details-btn">
        <button class="slider-btn" type="button">
          <svg class="slider-svg" width="24" height="24">
            <use href="../../img/icons.svg#icon-left"></use>
          </svg>
        </button>
        <button class="slider-btn" type="button">
          <svg class="slider-svg" width="24" height="24">
            <use href="../../img/icons.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="details-activities-container">
      <button class="btn-details" type="button">Book a table</button>
      <a class="btn-details" href="../restaurant-page/">View the Menu</a>
    </div>
  </div>
</section>