<!-- modal book a table -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="close-btn-thumb">
      <button class="modal-button-close" type="button" data-modal-close>
        <svg class="" width="28px" height="28px">
          <use href="./images/icons.svg#close-demo"></use>
        </svg>
      </button>
    </div>
    <h1 class="table-modal-title">
      BOOK <span class="table-modal-title-acсent">A TABLE</span>
    </h1>
    <form class="modal-form" name="modal-form">
      <div class="table-form-group">
        <label class="table-form-field" for="">
          <input
            class="table-form-input"
            type="text"
            name="user_name"
            placeholder="Your name"
            required
          />
          <span class="table-form-label">Who should book a table for?</span>
        </label>
        <div class="table-custom-select" style="width: 100%">
          <select>
            <option value="0" selected>number of people</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <svg class="select-icon" width="12" height="8">
            <use href="./images/icons.svg#select"></use>
          </svg>
        </div>
        <div class="table-custom-date">
          <input
            id="custom-input-date"
            class="calendar"
            type="text"
            name="upload-release"
            placeholder="today"
            ,
            autocomplete="off"
          />
          <svg class="select-icon" width="12" height="8">
            <use href="./images/icons.svg#select"></use>
          </svg>
          <label class="table-form-field table-label-date"
            >What date to book?</label
          >
        </div>
        <label class="table-form-field table-form-tel">
          <input
            class="table-form-input"
            type="tel"
            name="user_phone"
            placeholder="+38 ()"
            id="phone"
            required
          />
          <span class="table-form-label">phone number</span>
        </label>
        <button class="mod-tab-btn" type="submit">MAKE A RESERVATION</button>
      </div>
    </form>
  </div>
</div>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script
  src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
  integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js"
  integrity="sha512-RCgrAvvoLpP7KVgTkTctrUdv7C6t7Un3p1iaoPr1++3pybCyCsCZZN7QEHMZTcJTmcJ7jzexTO+eFpHk4OCFAg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"
  integrity="sha512-d4KkQohk+HswGs6A1d6Gak6Bb9rMWtxjOa0IiY49Q3TeFd5xAzjWXDCBW9RS7m86FQ4RzM2BdHmdJnnKRYknxw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script defer src="js/mobile-menu.js"></script>
<script src="./js/modal.js"></script>
<script src="./js/custom-select.js"></script>
<script src="./js/custom-date.js"></script>
<script src="./js/mask-phone.js"></script>
