<footer class="footer">
    <div class=" container footer-container">
        <ul class="footer-navigation">
            <li class="footer-nav-item">
                <a class="footer-nav-link" href="./index.html">Home</a></li>
            <li class="footer-nav-item">
                <a class="footer-nav-link" href="./hotel.html">Hotel</a></li>
            <li class="footer-nav-item">
                <a class="footer-nav-link" href="./restaurant.html">Restaurant</a></li>
        </ul>
        
        <div class="logo-set">
            <a class="footer-logo" href="./index.html">Mimino</a>
            <p class="footer-logo-text">restaurant-hotel complex</p>
        </div>
        
        <ul class="footer-social-set">
            <li class="footer-social-item">
                <a class="footer-social-link" href="https://www.instagram.com/" aria-label="instagram" target="_blank" rel="noopenenr noreferrer">
                    <svg class="footer-icon" width="20" height="20">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a></li>
            <li class="footer-social-item">
                <a class="footer-social-link" href="https://facebook.com" aria-label="facebook" target="_blank" rel="noopenenr noreferrer">
                    <svg class="footer-icon" width="20" height="20">
                        <use href="./img/icons.svg#icon-facebook"></use>
                    </svg>
                </a></li>
            <li class="footer-social-item">
                <a class="footer-social-link" href="https://twitter.com/" aria-label="twitter" target="_blank" rel="noopenenr noreferrer">
                    <svg class="footer-icon" width="20" height="20">
                        <use href="./img/icons.svg#icon-twitter"></use>
                    </svg>
                </a></li>
        </ul>
    </div>
</footer>