/* About kitchen */
/* .container {
width: 100%;
padding-top: 64px;
padding-bottom: 64px;
}
 */
 
 .container {
         max-width: 375px;
         padding-left: 20px;
         padding-right: 20px;
         margin-left: auto;
         margin-right: auto;
 }




  @media screen and (min-width: 768px) {
         .container {
                 max-width: 768px;
                 padding: 0 32px;
         }
 }

 
  @media screen and (min-width: 1440px) {
         .container {
                 max-width: 1440px;
         }
 }

.section-kitchen {
padding-top: 64px;
padding-bottom: 64px;
}

.small-img {
 display: flex;
 justify-content: center;
 margin-top: 20px;
 gap: 20px;
 align-items: center;

}

.text {
display: flex;
flex-direction: column;
margin-top: 32px;
}

.description, .description-text {
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #000000;
}

.description-text {
margin-top: 24px;
} 

@media screen and (min-width: 768px) {
 .section-kitchen {
 padding-top: 80px;
 padding-bottom: 80px;
 }
 
.img-list {
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
margin-top: auto;
}
 .img-large {
  margin-top: auto;
  margin-left: 32px;
 }


.small-img {
 display:flex;
 flex-direction: column;
 gap: 16px;
 margin-top: auto;
}
 
.text {
 display: flex;
 flex-direction: row;
 margin-top: 40px;
}
 
.description {
margin-right: 32px;
font-size: 18px;
}

.description-text {
margin-top: auto;
font-size: 18px;
}

}

 @media screen and (min-width: 1440px) {
.section-kitchen {
padding-top: 100px;
padding-bottom: 100px;
}
.img-list {
 flex-direction: row;
 align-items: flex-start;
 margin-top: auto;
}

.small-img {
 display: flex;
flex-direction: row;
gap: 32px;
margin-top: 0; 

 
}
 .img-large {
 display: flex;
 margin-right: 32px;
 margin-top: auto;
 margin-left: auto;
 }

 .description .description-text {
 font-weight: 500px;
 }
.text-img {
 display: flex;
 flex-wrap: wrap;
}  

 }