.section.section-hero-restaurant {
  background: #f7f7f7;
}
.restaurant-container.container {
  width: 375px;
  padding-right: 0;
  padding-left: 20px;
  padding-top: 40px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .restaurant-container.container {
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .restaurant-container.container {
    padding-top: 40px;
    padding-bottom: 40px;

    padding-left: 32px;
    min-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .restaurant-container.container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 1440px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* ------------------------------------------------ */
.restaurant-hero-title {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  /* identical to box height, or 100% */

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #121212;
}

@media screen and (min-width: 768px) {
  .restaurant-hero-title {
    font-size: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .restaurant-hero-title {
    font-size: 90px;
    margin-top: 174px;
  }
}
/* ------------------------------ */
.hero-activities {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}

.btn-activities {
  display: inline-block;
  padding: 8px 18px;

  border: 0.8px solid #121212;
  border-radius: 32px;
  text-transform: uppercase;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  /* identical to box height, or 129% */

  letter-spacing: -0.02;
  background: transparent;

  color: #121212;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-activities:hover,
.btn-activities:focus,
.btn-activities:active {
  background-color: #121212;
  color: #f7f7f7;
}

/* ---slider----------------- */
.slider {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.slider-img-container {
  display: flex;
  gap: 20px;
}
.slider-img {
  width: auto;
  height: 580px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* ------ */
.slider-activities {
  margin-top: 24px;
  display: flex;
  gap: 32px;
  justify-content: flex-end;
}
.slider-btn {
  width: 36px;
  height: 36px;
  display: inline-block;
  background: transparent;
  border: none;
}
.slider-btn:hover,
.slider-btn:focus,
.slider-btn:active {
  opacity: 0.3;
}
/* ---------------- */
.text-description {
  margin-top: 40px;
  max-width: 338px;

  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  /* or 129% */

  letter-spacing: 0.05;
  text-transform: uppercase;

  color: #121212;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .text-description {
    margin-top: -40px;
  }
}
@media screen and (min-width: 1440px) {
  .text-description {
    margin: 0;
    margin-top: -70px;
  }
}
