@import url(./header-hotel.css);

.background {
  background: #f7f7f7;
}

/* SECTION1-MOBILE */
@media screen and (max-width: 767px) {
  .sect-one-disp {

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;

    position: relative;
  }

  .sect-one-div-disp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 779px;
  }

  .sect-one-h {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    margin: 0;
    margin-bottom: 24px;
  }

  .sect-one-parag {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;

    width: 338px;
  }

  .sect-one-img {
    display: flex;
    column-gap: 20px;
    position: absolute;
    bottom: 205px;
  }

  .img-one-mobile {
    max-width: 250px;
    height: 429px;
  }

  .img-one-mobile1 {
    max-width: 250px;
    height: 429px;
  }

  .sect-one-butt-disp {
    display: flex;
    column-gap: 14px;
  }

  .sect-one-butt {
    padding: 8px 18px;
    border: 0.8px solid #121212;
    border-radius: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    background-color: transparent;
  }
  .sect-one-butt:focus {
    background-color: #121212;
    color: #f7f7f7;
  }
}
/* //SECTION1-MOBILE */
/* SECTION1-TABLET */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .sect-one-disp {
    padding-left: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;

    position: relative;
  }

  .sect-one-div-disp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 867px;
  }

  .sect-one-h {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    margin: 0;
    margin-bottom: 32px;
  }

  .sect-one-parag {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;

    width: 338px;
  }

  .sect-one-img {
    display: flex;
    column-gap: 32px;
    position: absolute;
    bottom: 148px;
  }

  .img-one-mobile {
    width: 436px;
    height: 548px;
  }

  .img-one-mobile1 {
    max-width: 436px;
    height: 548px;
  }

  .sect-one-butt-disp {
    display: flex;
    column-gap: 14px;
  }

  .sect-one-butt {
    padding: 8px 24px;
    border: 0.8px solid #121212;
    border-radius: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    background-color: transparent;
  }
  .sect-one-butt:focus {
    background-color: #121212;
    color: #f7f7f7;
  }
}
/* //SECTION1-TABLET */
/* SECTION1-DESCTOP */
@media screen and (min-width: 1440px) {
  .sect-one-disp {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: 30px 0 30px 32px;
    width: 1440px;
    margin: 0 auto;
  }

  .sect-one-div-disp {
    display: flex;
    flex-direction: column;

    gap: 204px;
  }

  .sect-one-h {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
  }

  .sect-one-parag {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;

    width: 338px;
  }

  .sect-one-img {
    display: flex;
    column-gap: 32px;
  }

  .sect-one-butt-disp {
    display: flex;
    column-gap: 14px;
    margin-top: 32px;
  }

  .sect-one-butt {
    padding: 9px 24px;
    border: 0.8px solid #121212;
    border-radius: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    background-color: transparent;
  }
  .sect-one-butt:hover,
  .sect-one-butt:focus {
    background-color: #121212;
    color: #f7f7f7;
  }
}

/* //SECTION1-DESCTOP */

/* SECTION2-MOBILE */

@media screen and (max-width: 767px) {
  .sect-two {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
  }

  .sect-two-disp {
    margin-top: 32px;
  }

  .sect-two-img {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 640px;
    position: relative;
  }

  .img-two-mobile1 {
    max-width: 158px;
    height: 150px;
  }

  .img-two-mobile2 {
    max-width: 336px;
    height: 468px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-two-mobile3 {
    max-width: 158px;
    height: 150px;
    margin-right: 19px;
  }

  .sect-two-h {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    max-width: 240px;
  }

  .sect-two-parag {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    margin-top: 32px;
    margin-bottom: 24px;
    max-width: 335px;
  }

  .sect-two-parag2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    margin-bottom: 36px;
    max-width: 335px;
  }

  .sect-two-butt-disp {
    display: flex;
    column-gap: 14px;
    margin-top: 12px;
  }

  .sect-two-butt {
    padding: 8px 18px;
    border: 0.8px solid #121212;
    border-radius: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    background-color: transparent;
  }
  .sect-two-butt:focus {
    background-color: #121212;
    color: #f7f7f7;
  }
}
/* //SECTION2-MOBILE */

/* SECTION2-TABLET */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .sect-two {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }

  .sect-two-disp {
    margin-top: 40px;
  }

  .sect-two-li-img1 {
    width: 341px;
    height: 175px;
  }

  .sect-two-li-img3 {
    width: 223px;
    height: 261px;
  }

  .sect-two-img {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    row-gap: 16px;
  }

  .img-two-mobile1 {
    width: 341px;
    height: 175px;
  }

  .img-two-mobile2 {
    max-width: 331px;
    height: 468px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-two-mobile3 {
    max-width: 223px;
    height: 261px;
    margin-left: 118px;
  }

  .sect-two-h {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    margin-bottom: 32px;
  }

  .sect-two-div-parag {
    display: flex;
    column-gap: 32px;
  }
  .sect-two-parag {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    width: 366px;
  }

  .sect-two-parag2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    width: 299px;
  }

  .sect-two-butt-disp {
    display: flex;
    justify-content: flex-end;
    column-gap: 14px;
    margin-top: 40px;
  }

  .sect-two-butt {
    padding: 8px 24px;
    border: 0.8px solid #121212;
    border-radius: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    background-color: transparent;
  }
  .sect-two-butt:focus {
    background-color: #121212;
    color: #f7f7f7;
  }
}
/* //SECTION2-TABLET */

/* SECTION2-DESCTOP */
@media screen and (min-width: 1440px) {
  .sect-two {
    width: 1376px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .sect-two-img {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }

  .sect-two-disp {
    display: flex;
    justify-content: space-between;

    margin-top: 50px;
  }

  .sect-two-h {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
  }

  .sect-two-div-parag {
    display: flex;
    margin-top: 40px;
    column-gap: 32px;
  }

  .sect-two-parag {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    width: 354px;
  }

  .sect-two-parag2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    width: 300px;
  }

  .sect-two-butt-disp {
    display: flex;
    column-gap: 14px;
    margin-top: 12px;
  }

  .sect-two-butt {
    padding: 9px 24px;
    border: 0.8px solid #121212;
    border-radius: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    background-color: transparent;
  }
  .sect-two-butt:hover,
  .sect-two-butt:focus {
    background-color: #121212;
    color: #f7f7f7;
  }
}
/* //SECTION2-DESCTOP */
/* SECTION3-MOBILE */
@media screen and (max-width: 767px) {
  .sect-tree {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
  }

  .sect-tree-disp {
    margin-top: 32px;
  }

  .sect-tree-img {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 640px;
    position: relative;
  }

  .img-tree-mobile1 {
    max-width: 158px;
    height: 150px;
  }

  .img-tree-mobile2 {
    max-width: 336px;
    height: 468px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-tree-mobile3 {
    max-width: 158px;
    height: 150px;
    margin-right: 19px;
  }

  .sect-tree-h {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    max-width: 276px;
  }

  .sect-tree-parag {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    margin-top: 32px;
    margin-bottom: 24px;
    max-width: 335px;
  }

  .sect-tree-parag2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    margin-bottom: 36px;
    max-width: 335px;
  }

  .sect-tree-butt-disp {
    display: flex;
    column-gap: 14px;
    margin-top: 12px;
  }

  .sect-tree-butt {
    padding: 8px 18px;
    border: 0.8px solid #121212;
    border-radius: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    background-color: transparent;
  }

  .sect-tree-butt:focus {
    background-color: #121212;
    color: #f7f7f7;
  }
}
/* //SECTION3-MOBILE */
/* SECTION3-TABLET */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .sect-tree {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }

  .sect-tree-disp {
    margin-top: 40px;
  }

  .sect-tree-li-img1 {
    width: 341px;
    height: 175px;
  }

  .sect-tree-li-img3 {
    width: 223px;
    height: 261px;
  }

  .sect-tree-img {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 363px;
    position: relative;
    row-gap: 16px;
  }

  .img-tree-mobile1 {
    width: 341px;
    height: 175px;
  }

  .img-tree-mobile2 {
    max-width: 331px;
    height: 468px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .img-tree-mobile3 {
    max-width: 223px;
    height: 261px;
  }

  .sect-tree-h {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    margin-bottom: 32px;
  }

  .sect-tree-div-parag {
    display: flex;
    column-gap: 32px;
  }
  .sect-tree-parag {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    width: 366px;
  }

  .sect-tree-parag2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    width: 299px;
  }

  .sect-tree-butt-disp {
    display: flex;
    column-gap: 14px;
    margin-top: 40px;
  }

  .sect-tree-butt {
    padding: 8px 24px;
    border: 0.8px solid #121212;
    border-radius: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    background-color: transparent;
  }

  .sect-tree-butt:focus {
    background-color: #121212;
    color: #f7f7f7;
  }
}
/* //SECTION3-TABLET */
/* SECTION3-DESCTOP */
@media screen and (min-width: 1440px) {
  .sect-tree {
    width: 1376px;
    margin-left: auto;
    margin-right: auto;
  }

  .sect-tree-img {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }

  .sect-tree-disp {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    margin-top: 50px;
  }

  .sect-tree-h {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
  }

  .sect-tree-div-parag {
    display: flex;
    column-gap: 32px;
    margin-top: 40px;
  }

  .sect-tree-parag {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    width: 354px;
  }

  .sect-tree-parag2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    width: 300px;
  }

  .sect-tree-butt-disp {
    display: flex;
    column-gap: 14px;
    margin-top: 12px;
  }

  .sect-tree-butt {
    padding: 9px 24px;
    border: 0.8px solid #121212;
    border-radius: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    background-color: transparent;
  }

  .sect-tree-butt:hover,
  .sect-tree-butt:focus {
    background-color: #121212;
    color: #f7f7f7;
  }
}

/* //SECTION3-DESCTOP */
/* SECTION4-MOBILE */
@media screen and (max-width: 767px) {
  .sect-four {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
  }

  .sect-four-disp {
    margin-top: 32px;
  }

  .sect-four-img {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 640px;
    position: relative;
  }

  .img-four-mobile1 {
    max-width: 158px;
    height: 150px;
  }

  .img-four-mobile2 {
    max-width: 336px;
    height: 468px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-four-mobile3 {
    max-width: 158px;
    height: 150px;
    margin-right: 19px;
  }

  .sect-four-h {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
  }

  .sect-four-parag {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    margin-top: 32px;
    margin-bottom: 24px;
    max-width: 335px;
  }

  .sect-four-parag2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    margin-bottom: 36px;
    max-width: 335px;
  }

  .sect-four-butt-disp {
    display: flex;
    column-gap: 14px;
    margin-top: 12px;
  }

  .sect-four-butt {
    padding: 8px 18px;
    border: 0.8px solid #121212;
    border-radius: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    background-color: transparent;
  }

  .sect-four-butt:focus {
    background-color: #121212;
    color: #f7f7f7;
  }
}

/* //SECTION4-MOBILE */
/* SECTION4-TABLET */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .sect-four {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }

  .sect-four-disp {
    margin-top: 40px;
  }

  .sect-four-li-img1 {
    width: 341px;
    height: 175px;
  }

  .sect-four-li-img3 {
    width: 223px;
    height: 261px;
  }

  .sect-four-img {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    row-gap: 16px;
  }

  .img-four-mobile1 {
    width: 341px;
    height: 175px;
  }

  .img-four-mobile2 {
    max-width: 331px;
    height: 468px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-four-mobile3 {
    max-width: 223px;
    height: 261px;
    margin-left: 118px;
  }

  .sect-four-h {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    margin-bottom: 32px;
  }

  .sect-four-parag {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    width: 475px;
  }

  .sect-four-butt-disp {
    display: flex;
    justify-content: flex-end;
    column-gap: 14px;
    margin-top: 40px;
  }

  .sect-four-butt {
    padding: 8px 24px;
    border: 0.8px solid #121212;
    border-radius: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    background-color: transparent;
  }

  .sect-four-butt:focus {
    background-color: #121212;
    color: #f7f7f7;
  }
}

/* //SECTION4-TABLET */
/* SECTION4-DESCTOP */
@media screen and (min-width: 1440px) {
  .sect-four {
    width: 1376px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .sect-four-img {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }

  .sect-four-disp {
    display: flex;
    justify-content: space-between;

    margin-top: 50px;
  }

  .sect-four-h {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    margin-bottom: 40px;
  }

  .sect-four-parag {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;

    margin: 0;
    width: 476px;
  }

  .sect-four-butt-disp {
    display: flex;
    column-gap: 14px;
    margin-top: 12px;
  }

  .sect-four-butt {
    padding: 9px 24px;
    border: 0.8px solid #121212;
    border-radius: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    background-color: transparent;
  }

  .sect-four-butt:hover,
  .sect-four-butt:focus {
    background-color: #121212;
    color: #f7f7f7;
  }
}

/* SECTION4-DESCTOP */
