<!-- About-kitchen -->
<section class="">
    <div class="container">
        <!-- Hidden section name -->
        <h2 hidden>Our kitchen</h2>
        <ul class="">
            <li class="">
            <img 
             srcset="./img/kitchen/cook-desk1x.webp 511w, ./img/kitchen/cook-tab1x.webp 388w, ./img/kitchen/cook-mob1x.webp 335w, 
             ./img/kitchen/cook-desk@2x.webp 511w"
            src="./img/kitchen/cook-mob1x.webp"
            alt="cook is cooking"
            />

            </li>
            <li class="">
            </li>
            <li class="">
            </li>   
        </ul>
        <p class="description">At Mimino, we are experts in meat preparation. Our chefs use only the finest and freshest
            ingredients to
            create
            delicious dishes that showcase the flavors of premium cuts of meat.</p>
        <p class="description">Our slow-cooking process and expert seasoning bring out the best in each dish, making for an
            unforgettable dining
            experience. Come taste the magic of meat preparation at Mimino.</p>
    </div>
</section>

