<!-- About-kitchen -->
<section class="">
    <div class="container">
        <!-- Hidden section name -->
        <h2 hidden>Our kitchen</h2>
        <ul class="pictures">
            <li class="pictures-list">
            <picture>
                <source
             srcset="./img/kitchen/cook-desk1x.webp 1x, ./img/kitchen/cook-desk@2x.webp 2x, "
             media="(min-width: 1440px)"/>
             <source
             srcset="./img/kitchen/cook-tab1x.webp 1x, ./img/kitchen/cook-tab@2x.webp 2x"
             media="(min-width: 768px)"
             />
             <source
             srcset="./img/kitchen/cook-mob1x.webp 1x, ./img/kitchen/cook-mob@2x.webp 2x"
             media="(max-width: 767px)"
             />
             <img src="./img/kitchen/cook-mob1x.webp" alt="cook is cooking">
            </picture>

            </li>
            <li class="pictures-list">
            <picture>
             <source 
             srcset="./img/kitchen/meat-desk1x.webp 1x, ./img/kitchen/meat-desk@2x.webp 2x" 
             media="(min-width: 1440px)" 
             />
             <source srcset="./img/kitchen/meat-tab1x.webp 1x, ./img/kitchen/meat-tab@2x.webp 2x"
             media="(min-width: 768px)"
             />
             <source 
             srcset="./img/kitchen/meat-mob1x.webp 1x, ./img/kitchen/meat-mob@2x.webp 2x"
             media="(max-width: 767px)"
             />
             <img src="./img/kitchen/meat-mob1x.webp" alt="fresh steak is on the a board">
            </picture>

            </li>
            <li class="pictures-list">
                <picture>
                    <source
                     srcset="./img/kitchen/cocktail-desk1x.webp 1x, ./img/kitchen/cocktail-desk@2x.webp 2x"
                     media="(min-width: 1440px)"
                     />
                
                     <source 
                     srcset="./img/kitchen/cocktail-tab1x.webp 1x, ./img/kitchen/cocktail-tab@2x.webp 2x"
                     media="(min-width: 768px)"
                     />
                
                    <source 
                    srcset="./img/kitchen/cocktail-mob1x.webp 1x, ./img/kitchen/cocktail-mob@2x.webp 2x"
                     media="(max-width: 767px)" 
                     />
                    <img src="./img/kitchen/cocktail-mob1x.webp" alt="cocktail">
                </picture>
          </li>   
        </ul>
        <div class="text">
        <p class="description">At Mimino, we are experts in meat preparation. Our chefs use only the finest and freshest
            ingredients to
            create
            delicious dishes that showcase the flavors of premium cuts of meat.</p>
        <p class="description">Our slow-cooking process and expert seasoning bring out the best in each dish, making for an
            unforgettable dining
            experience. Come taste the magic of meat preparation at Mimino.</p>
        </div>
    </div>
</section>

