<section class="menu-section">
    <div class="container rest-menu-container">
        <h2 class="menu-title">RESTAURANT MENU</h2>
        <ul class="menu-list">
            <li class="hot-list">
                <h3 class="menu-subtitle">Hot meals</h3>
                <ul class="meal-list">
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">Veal borscht with beans</h4>
                            <p class="meal-list-item-desc">Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">400 g</p>
                            <p class="meal-list-item-price">240 UAH</p>
                        </div>
                    </li>
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">Cheese soup with chicken</h4>
                            <p class="meal-list-item-desc">Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">400 g</p>
                            <p class="meal-list-item-price">200 UAH</p>
                        </div>
                    </li>
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">Carbonara pasta</h4>
                            <p class="meal-list-item-desc">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">400 g</p>
                            <p class="meal-list-item-price">430 UAH</p>
                        </div>
                    </li>
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">Pork steak</h4>
                            <p class="meal-list-item-desc">Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">400 g</p>
                            <p class="meal-list-item-price">500 UAH</p>
                        </div>
                    </li>
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">Gorbusha in white wine sauce</h4>
                            <p class="meal-list-item-desc">Tender redfish, cream sauce based on white wine</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">400 g</p>
                            <p class="meal-list-item-price">400 UAH</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="snacks-list">
                <h3 class="menu-subtitle">Side dishes and snacks</h3>
                <ul class="meal-list">
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">Baked vegetables</h4>
                            <p class="meal-list-item-desc">Zucchini, pepper, tomato, eggplant</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">200 g</p>
                            <p class="meal-list-item-price">230 UAH</p>
                        </div>
                    </li>
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">French fries</h4>
                            <p class="meal-list-item-desc">Potatoes, tomato sauce</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">150 g</p>
                            <p class="meal-list-item-price">160 UAH</p>
                        </div>
                    </li>
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">Peasant-style potatoes</h4>
                            <p class="meal-list-item-desc">Potatoes, spices, spicy sauces</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">150 g</p>
                            <p class="meal-list-item-price">160 UAH</p>
                        </div>
                    </li>
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">Crisp pickles from the barrel</h4>
                            <p class="meal-list-item-desc">Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">250 g</p>
                            <p class="meal-list-item-price">350 UAH</p>
                        </div>
                    </li>
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">Chicken wings in honey sauce</h4>
                            <p class="meal-list-item-desc">Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">400 g</p>
                            <p class="meal-list-item-price"></p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="salad-list">
                <h3 class="menu-subtitle">Salads</h3>
                <ul class="meal-list">
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">Caesar with chicken</h4>
                            <p class="meal-list-item-desc">Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">230 g</p>
                            <p class="meal-list-item-price">450 UAH</p>
                        </div>
                    </li>
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">Caesar with shrimp</h4>
                            <p class="meal-list-item-desc">Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">230 g</p>
                            <p class="meal-list-item-price">300 UAH</p>
                        </div>
                    </li>
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">Greek salad</h4>
                            <p class="meal-list-item-desc">Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">230 g</p>
                            <p class="meal-list-item-price">280 UAH</p>
                        </div>
                    </li>
                    <li class="meal-list-item">
                        <div class="dish-desc">
                            <h4 class="meal-list-item-name">Meat salad</h4>
                            <p class="meal-list-item-desc">Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
                        </div>
                        <div class="weight-price">
                            <p class="meal-list-item-weight">230 g</p>
                            <p class="meal-list-item-price">300 UAH</p>
                        </div>
                    </li>
                </ul>
            </li>
            <div class="deserts-drinks">
                <li class="deserts-list">
                    <h3 class="menu-subtitle">Desserts</h3>
                    <ul class="meal-list">
                        <li class="meal-list-item">
                            <div class="dish-desc">
                                <h4 class="meal-list-item-name">Napoleon cake</h4>
                            </div>
                            <div class="weight-price">
                                <p class="meal-list-item-price">200 UAH</p>
                            </div>
                        </li>
                        <li class="meal-list-item">
                            <div class="dish-desc">
                                <h4 class="meal-list-item-name">Poppy cake</h4>
                            </div>
                            <div class="weight-price">
                                <p class="meal-list-item-price">300 UAH</p>
                            </div>
                        </li>
                        <li class="meal-list-item">
                            <div class="dish-desc">
                                <h4 class="meal-list-item-name">Tiramisu</h4>
                            </div>
                            <div class="weight-price">
                                <p class="meal-list-item-price">260 UAH</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="drinks-list">
                    <h3 class="menu-subtitle">Drinks</h3>
                    <ul class="meal-list">
                        <li class="meal-list-item">
                            <div class="dish-desc">
                                <h4 class="meal-list-item-name">Black/green tea</h4>
                            </div>
                            <div class="weight-price">
                                <p class="meal-list-item-price">100 UAH</p>
                            </div>
                        </li>
                        <li class="meal-list-item">
                            <div class="dish-desc">
                                <h4 class="meal-list-item-name">Espresso</h4>
                            </div>
                            <div class="weight-price">
                                <p class="meal-list-item-price">100 UAH</p>
                            </div>
                        </li>
                        <li class="meal-list-item">
                            <div class="dish-desc">
                                <h4 class="meal-list-item-name">Cappuccino</h4>
                            </div>
                            <div class="weight-price">
                                <p class="meal-list-item-price">100 UAH</p>
                            </div>
                        </li>
                    </ul>
                </li>
            </div>
        </ul>
        <ul class="slider-btn-list">
            <li class="slider-btn">
                <button type="button" class="slider-left-btn">
                    <svg class="slider-icon" width="24" height="24">
                    <use href="./img/icons.svg#icon-left"></use>
                </svg>
                </button>
            </li>
            <li class="slider-btn">
                <button type="button" class="slider-right-btn">
                    <svg class="slider-icon" width="24" height="24">
                    <use href="./img/icons.svg#icon-right"></use>
                </svg>
                </button>
            </li>
        </ul>
        <button type="button" class="booking-btn js-open-modal" type="button" data-modal="2">book a table</button>
    </div>
</section>