<section class="section section-hero-restaurant">
  <div class="container restaurant-container">
    <!-- контейнeр title ... -->
    <div class="hero-info">
      <h1 class="restaurant-hero-title">Restaurant</h1>
      <!-- Кнопка модалки і якоря -->
      <div class="hero-activities">
        <button class="btn btn-activities js-open-modal" type="button" data-modal="2">book a table</button>
        <a class="btn btn-activities" href="#">View a menu</a>
      </div>
    </div>
    <!-- Слайдер -->
    <div class="slider">
      <div class="slider-img-container">
        <picture>
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="
              ./img/rest-hero/image1_desktop@1x.webp 1x,
              ./img/rest-hero/image1_desktop@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              ./img/rest-hero/image1_tablet@1x.webp 1x,
              ./img/rest-hero/image1_tablet@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ./img/rest-hero/image1_mobile@1x.webp 1x,
              ./img/rest-hero/image1_mobile@2x.webp 2x
            "
          />
          <img
            class="slider-img"
            src="./img/rest-hero/image1_desktop@1x.webp"
            alt
            width="436"
            height="548"
          />
        </picture>
        <picture>
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="
              ./img/rest-hero/image2_desktop@1x.webp 1x,
              ./img/rest-hero/image2_desktop@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              ./img/rest-hero/image2_tablet@1x.webp 1x,
              ./img/rest-hero/image2_tablet@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ./img/rest-hero/image2_mobile@1x.webp 1x,
              ./img/rest-hero/image2_mobile@2x.webp 2x
            "
          />
          <img
            class="slider-img"
            src="./img/rest-hero/image2_desktop@1x.webp"
            alt
            width="436"
            height="548"
          />
        </picture>
      </div>
      <!-- slider btn -->
      <div class="slider-activities">
        <button class="slider-btn">
          <svg width="36" height="36">
            <use href="./img/icons.svg#icon-left"></use>
          </svg>
          <!-- <img src="./img/rest-hero/arrow1.svg" alt /> -->
        </button>
        <button class="slider-btn">
          <svg width="36" height="36">
            <use href="./img/icons.svg#icon-right"></use>
          </svg>
          <!-- <img src="./img/rest-hero/arrow2.svg" alt /> -->
        </button>
      </div>
    </div>
    <p class="text-description">
      Whether you're in the mood for a hearty breakfast, a light lunch, or a
      romantic dinner, our menu has something for everyone.
    </p>
  </div>
</section>
