<section class="section">
    <div class="container">
        <h2>General Amenities and Facilities</h2>
        <ul>
            <li>
                <ul>
                    <li><h3 class="Amenities-list-titles">General Amenities & Facilities:</h3>
                    <li>
                        <ul class="list-style">
                            <li>24-hour front desk service</li>
                            <li>Daily housekeeping</li>
                            <li>Free Wi-Fi throughout the hotel</li>
                            <li>Elevator access</li>
                            <li>Luggage storage</li>
                            <li>Non-smoking rooms available</li>
                            <li>Meeting rooms for business and events</li>
                            <li>On-site parking (surcharge)</li>
                            <li>Concierge services</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><h3 class="Amenities-list-titles">Bathroom:</h3></li>
                    <li>
                        <ul class="list-style">
                            <li>Private bathroom with shower</li>
                            <li>Complimentary toiletries</li>
                            <li>Hair dryer</li>
                            <li>Fresh towels daily</li>
                            <li>Deluxe bathrobes (in some room categories)</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><h3 class="Amenities-list-titles">Bedroom:</h3></li>
                    <li>
                        <ul class="list-style">
                            <li>Comfortable beds with high-quality linens</li>
                            <li>Blackout curtains</li>
                            <li>Climate control (air conditioning and heating)</li>
                            <li>Safe for valuables</li>
                            <li>Writing desk and chair</li>
                            <li>Flat-screen TV with cable channels</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><h3 class="Amenities-list-titles">Kitchen:</h3></li>
                    <li>
                        <ul class="list-style">
                            <li>In-room kitchenette (in some room categories)</li>
                            <li>Refrigerator</li>
                            <li>Microwave</li>
                            <li>Electric kettle</li>
                            <li>Cooking utensils and cutlery</li>
                            <li>Dining table and chairs</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><h3 class="Amenities-list-titles">Media:</h3></li>
                    <li>
                        <ul class="list-style">
                            <li>Flat-screen TV with cable channels</li>
                            <li>High-speed Wi-Fi</li>
                            <li>iPod docking station</li>
                            <li>Speaker system</li>
                            <li>Electrical outlets for charging devices.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <img src="" alt="">
        <img src="" alt="">
        <button type="button">book a room</button>
    </div>
</section>