 <!-- header new -->
 <header class="header-page header-white">
    <!-- top line nav -->
    <div class="container header-page-container">
      <nav class="nav-page">
        <ul class="nav-list">
          <li><a class="nav-home nav-home-black link" href="./index.html">HOME</a></li>
          <li><a class="nav-hotel nav-hotel-black link" href="./hotel.html">HOTEL</a></li>
          <li><a class="nav-restaurant nav-restaurant-black link" href="./restaurant.html">RESTAURANT</a></li>
        </ul>       
     </nav>
      <!-- button burger menu -->
      <button class="menu-burger menu-burger-black  js-open-menu" aria-controls="mobile-menu" aria-expanded="false">
        <svg class="btn-burger-svg" width="21" height="14">
          <use href="./img/icons.svg#icon-menu"></use>
        </svg>
      </button> 
     <!-- header logo -->
     <div class="header-logo">
      <a class="logo-header logo-header-black link" href="./index.html">MIMINO</a>
      <p class="logo-item logo-item-black">restaurant-hotel complex</p>
    </div>
     <!-- header social -->
      <ul class="header-socials">
        <li><a class="header-social-link header-social-link-black " href="https://www.instagram.com/" aria-label="Instagram" target="_blank" rel="noopener noreferrer"><svg width="24" height="24">
          <use href="./img/icons.svg#icon-instagram"></use></svg></a></li>
    <li><a class="header-social-link header-social-link-black " href="https://www.facebook.com/" aria-label="facebook" target="_blank" rel="noopener noreferrer"><svg width="24" height="24">
          <use href="./img/icons.svg#icon-facebook"></use></svg></a></li>
    <li><a class="header-social-link header-social-link-black " href="https://twitter.com/" aria-label="twitter" target="_blank" rel="noopener noreferrer"><svg width="24" height="24">
          <use href="./img/icons.svg#icon-twitter"></use></svg></a></li>
     </ul>
     </div>
  </header>