 <!-- header new -->
 <header class="header-page header-white">
    <!-- top line nav -->
    <div class="container header-page-container">
      <nav class="nav-page">
        <ul class="nav-list">
          <li><a class="nav-home nav-home-black link" href="./index.html">HOME</a></li>
          <li><a class="nav-hotel nav-hotel-black link" href="./hotel.html">HOTEL</a></li>
          <li><a class="nav-restaurant nav-restaurant-black link" href="./restaurant.html">RESTAURANT</a></li>
        </ul>       
     </nav>
      <!-- button burger menu -->
      <button class="menu-burger menu-burger-black  js-open-menu" aria-controls="mobile-menu" aria-expanded="false">
        <svg class="btn-svg" width="28" height="28">
          <use href="./img/icons.svg#icon-menu"></use>
        </svg>
      </button> 
     <!-- header logo -->
     <div class="header-logo">
      <a class="logo-header logo-header-black link" href="./index.html">MIMINO</a>
      <p class="logo-item logo-item-black">restaurant-hotel complex</p>
    </div>
     <!-- header social -->
      <ul class="header-socials">
        <li><a class="header-social-link header-social-link-black " href="https://www.instagram.com/" aria-label="Instagram" target="_blank" rel="noopener noreferrer"><svg width="24" height="24">
          <use href="./img/icons.svg#icon-instagram"></use></svg></a></li>
    <li><a class="header-social-link header-social-link-black " href="https://www.facebook.com/" aria-label="facebook" target="_blank" rel="noopener noreferrer"><svg width="24" height="24">
          <use href="./img/icons.svg#icon-facebook"></use></svg></a></li>
    <li><a class="header-social-link header-social-link-black " href="https://twitter.com/" aria-label="twitter" target="_blank" rel="noopener noreferrer"><svg width="24" height="24">
          <use href="./img/icons.svg#icon-twitter"></use></svg></a></li>
     </ul>
     </div>
  </header>
   <!-- modal burger menu -->
   <div class="menu-container js-menu-container" id="mobile-menu">
    <div class="burger-container">
  <button class="menu-toggle js-close-menu">
    <svg class="toggle-tab" width="28" height="28">
      <use href="./img/icons.svg#icon-x"></use>
    </svg>
  </button>
   <!-- burger logo -->
<div class="burger-logo">
  <a class="logo-burger link" href="./index.html">MIMINO</a>
  <p class="logo-burger-item">restaurant-hotel complex</p>
</div>
 <!--burger tab social -->
  <ul class="burger-socials">
   <li><a class="burger-social-link" href="https://www.instagram.com/" aria-label="Instagram" target="_blank" rel="noopener noreferrer"><svg width="24" height="24">
         <use href="./img/icons.svg#icon-instagram"></use></svg></a></li>
   <li><a class="burger-social-link" href="https://www.facebook.com/" aria-label="facebook" target="_blank" rel="noopener noreferrer"><svg width="24" height="24">
         <use href="./img/icons.svg#icon-facebook"></use></svg></a></li>
   <li><a class="burger-social-link" href="https://twitter.com/" aria-label="twitter" target="_blank" rel="noopener noreferrer"><svg width="24" height="24">
         <use href="./img/icons.svg#icon-twitter"></use></svg></a></li>
 </ul>
</div>
 <!-- burger menu nav -->
   <ul class="burger-nav-list">
    <li><a class="burger-nav-home link" href="./index.html">HOME</a></li>
    <li><a class="burger-nav-hotel link" href="./hotel.html">HOTEL</a></li>
    <li><a class="burger-nav-restaurant link" href="./restaurant.html">RESTAURANT</a></li>
  </ul>
    <!--mobile burger social -->
        <ul class="mobile-burger-socials">
      <li><a class="mobile-burger-social-link" href="https://www.instagram.com/" aria-label="Instagram" target="_blank" rel="noopener noreferrer"><svg width="20" height="20">
            <use href="./img/icons.svg#icon-instagram"></use></svg></a></li>
      <li><a class="mobile-burger-social-link" href="https://www.facebook.com/" aria-label="facebook" target="_blank" rel="noopener noreferrer"><svg width="20" height="20">
            <use href="./img/icons.svg#icon-facebook"></use></svg></a></li>
      <li><a class="mobile-burger-social-link" href="https://twitter.com/" aria-label="twitter" target="_blank" rel="noopener noreferrer"><svg width="20" height="20">
            <use href="./img/icons.svg#icon-twitter"></use></svg></a></li>
    </ul>
   </div>