/**
    |============================
    | Header
    |============================
  */
/* top line nav */

.header-page {
  position: relative;
  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
  background: #121212;
}

.header-page-container {
  display: flex;
  align-items: center;
}

.nav-page {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 1200px) {
  .nav-list {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}

.nav-home {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;

  color: #F7F7F7;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;


  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav-home.carrent::after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 18px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F7F7F7;

}

.nav-hotel {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;

  color: #F7F7F7;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;


  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav-hotel.carrent::after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 18px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F7F7F7;
}

.nav-restaurant {
  position: relative;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;

  color: #F7F7F7;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;


  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav-restaurant.carrent::after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 18px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F7F7F7;
}

/* button burger menu */

.menu-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 22px;
  padding: 0;
  border: none;
  background: none;
  stroke: #F6F6F6;
}

@media screen and (min-width: 1200px) {
  .menu-burger {
    display: none;
  }
}

/* header logo */

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 83px;
}

@media screen and (min-width: 768px) {
  .header-logo {

    margin-left: 246px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {

    margin-left: 370px;
  }
}

.logo-header {
  padding-top: 20px;
  color: #F7F7F7;
  font-weight: 700;
  font-size: 14px;

  line-height: 1.57;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .logo-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1200px) {
  .logo-header {
    line-height: 1.25;
  }
}

.logo-item {
  padding-bottom: 20px;
  color: #D8D7D7;
  font-weight: 700;
  font-size: 6px;

  line-height: 1.33;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .logo-item {
    color: #D8D7D7;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
  }
}

/* header socials */
.header-socials {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-socials {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .header-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: none;
    stroke: #F6F6F6;
    transition: background-color 250ms var(--time-function);
  }
}