/* top line nav */

.header-page {
  position: relative;
  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
  background: #121212;
}

.header-page-container {
  display: flex;
  align-items: center;
}

.nav-page {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 1440px) {
  .nav-list {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}

.nav-home {
  position: relative;
  padding-top: 27px;
  padding-bottom: 33px;
  font-family: 'DM Sans';
  color: #F7F7F7;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;


  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav-home.carrent::after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 27px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F7F7F7;

}

.nav-hotel {
  position: relative;
  padding-top: 27px;
  padding-bottom: 33px;
  font-family: 'DM Sans';
  color: #F7F7F7;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;


  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav-hotel.carrent::after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 27px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F7F7F7;
}

.nav-restaurant {
  position: relative;
  padding-top: 27px;
  padding-bottom: 33px;
  font-family: 'DM Sans';
  color: #F7F7F7;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;


  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav-restaurant.carrent::after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 27px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F7F7F7;
}

/* button burger menu */

.menu-burger {
  display: flex;
  align-items: center;
  padding: 25px 0;
  border: none;
  background: none;
  stroke: #F6F6F6;
}

@media screen and (min-width: 1440px) {
  .menu-burger {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .btn-svg {
    width: 32px;
    height: 32px;
  }
}

/* header logo */

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 60px;
}

@media screen and (min-width: 375px) {
  .header-logo {
    margin-left: 83px;
  }
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-left: 246px;
  }
}

@media screen and (min-width: 1440px) {
  .header-logo {

    margin-left: 370px;
  }
}

.logo-header {
  padding-top: 20px;
  color: #F7F7F7;
  font-weight: 700;
  font-size: 14px;
  font-family: 'DM Sans';
  line-height: 1.57;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .logo-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1440px) {
  .logo-header {
    line-height: 1.25;
  }
}

.logo-item {
  padding-bottom: 20px;
  color: #D8D7D7;
  font-weight: 700;
  font-size: 6px;
  font-family: 'DM Sans';
  line-height: 1.33;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .logo-item {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
  }
}

/* header socials */
.header-socials {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-socials {
    display: flex;
    gap: 16px;
    margin-left: auto;
    padding: 27px 0;
  }
}

@media screen and (min-width: 768px) {
  .header-social-link {
    display: flex;
    fill: none;
    stroke: #F6F6F6;
  }
}

/* modal burger menu */
.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translateX(-100%);
}

@media screen and (min-width: 1440px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.burger-container {
  display: flex;
  align-items: center;
  height: 78px;
  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
}

.menu-toggle {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  border: none;
  background: none;
  stroke: #F6F6F6;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 32px;

  }
}

@media screen and (min-width: 768px) {
  .toggle-tab {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .menu-toggle {
    display: none;
  }
}

/* burger logo */

.burger-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

@media screen and (min-width: 375px) {
  .burger-logo {
    margin-left: 83px;
  }
}

@media screen and (min-width: 768px) {
  .burger-logo {
    margin-left: 246px;
  }
}

.logo-burger {
  padding-top: 20px;
  color: #F7F7F7;
  font-weight: 500;
  font-size: 14px;
  font-family: 'DM Sans';
  line-height: 1.57;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .logo-burger {
    font-size: 20px;
    line-height: 1.2;
  }
}

.logo-burger-item {
  padding-bottom: 20px;
  color: #D8D7D7;
  font-weight: 400;
  font-size: 6px;
  font-family: 'DM Sans';
  line-height: 1.33;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .logo-burger-item {
    font-size: 8px;
    line-height: 1.25;
  }
}

/* burger tab social */
.burger-socials {
  display: none;
}

@media screen and (min-width: 768px) {
  .burger-socials {
    display: flex;
    gap: 14px;
    margin-left: auto;
    padding-top: 27px;
    padding-right: 32px;
    padding-bottom: 27px;
  }
}

@media screen and (min-width: 768px) {
  .burger-social-link {
    fill: none;
    stroke: #F6F6F6;

  }
}

/* burger menu nav */

.burger-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding-top: 128px;
  padding-right: 20px;
  padding-left: 20px;

}

@media screen and (min-width: 768px) {
  .burger-nav-list {
    gap: 40px;
    padding-top: 240px;

  }
}

.burger-nav-home {
  color: #F7F7F7;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  font-family: 'DM Sans';
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .burger-nav-home {
    font-size: 28px;
    line-height: 1.14;
  }
}

.burger-nav-hotel {
  color: #F7F7F7;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  font-family: 'DM Sans';
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .burger-nav-hotel {
    font-size: 28px;
    line-height: 1.14;
  }
}

.burger-nav-restaurant {
  color: #F7F7F7;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  font-family: 'DM Sans';
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .burger-nav-restaurant {
    font-size: 28px;
    line-height: 1.14;
  }
}

/* mobile burger social */

.mobile-burger-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: auto;
  margin-bottom: 24px;
  padding-left: 20px;

}

@media screen and (min-width: 768px) {
  .mobile-burger-socials {
    display: none;
  }
}

.mobile-burger-social-link {
  fill: none;
  stroke: #F6F6F6;

}