@import url('./home-hero.css');
@import url('./about.css');
@import url('./restaurant-details.css');
@import url('./welcome-complex.css');
@import url('./hotel-details.css');
@import url('./location-contacts.css');
@import url('./header-home.css')